<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/project_1.css">
  <title>Project Showcase</title>
</head>
<body>
  <header>
    <h1>Libertas</h1>
  </header>

  <main>
    <div class="project-container">
      <img src="../static/assets/images/work001-01.jpg" alt="Project Image" class="project-image">
      <div class="project-details">
        <h2>Description</h2>
        <p>I built my Startp's website, a one page website that Showcase the services our startup's offering, as well as some forms that allow the visitor to send some feedback regarding their interest in one of the services, and send a message a mesage that will be stored in our database.</p>
        
        <h2>Technologies Used</h2>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>Python</li>
          <li>Flask</li>
          <li>SQLite</li>
        </ul>
      </div>
    </div>

    <div class="buttons">
      <a href="https://github.com/Mopro007/My-Projects/tree/main/Libertas" class="demo-button">View Code</a>
      <a href="https://www.libertasnomad.com/" class="demo-button">Visit the website</a>
      <a href="./works.html" class="previous-page-button">Go Back</a>
    </div>
  </main>
</body>
</html>
